{% extends "Base.html" %}
<html>

{% load static %}

<link rel="stylesheet" href="{%static 'css/product_style.css'%}" />
{% block title %}Medicine{% endblock %}
<body id="body">

{% block content %}
<h1>Medicine Search</h1>
<style>
th,tr,td,table{
border: 1px solid black;
text-align: center;
}
.table{
display:flex;
justify-content: space-evenly;

}
.medicine,.cart{
width:45%;
}
#cart > th{
width:50%;
}
#btn-addtocart{
margin-left:90%
}
.container {
  padding: 2rem 0rem;
}
.container {
  padding: 2rem 0rem;
}

.table-image {
  
  thead {
    td, th {
      border: 0;
      color: #666;
      font-size: 0.8rem;
    }
  }
  
  td, th {
    vertical-align: middle;
    text-align: center;
    
    &.qty {
      max-width: 2rem;
    }
  }
}

.price {
  margin-left: 1rem;
}

.modal-footer {
  padding-top: 0rem;
}
</style>
<!-- -----------------------------------------------------------------------------------------------------------------Button trigger modal-------->
<button type="button" id="btn-addtocart" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add To Cart<sup id="cart_count" style="font-size:20px">0</sup>
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your Shopping Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-image" id="cart_table" >
              
         <tbody id="cart_tbody">
            <th scope="col" id="cart_th">Item Name</th>
              <th scope="col">Price</th>
              <th scope="col">Qty</th>
              <th scope="col">Total</th>
              <th scope="col">Actions</th
         </tbody>
        
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- --------------------------------------------------------------------------------------------------------------------------------Modal-------->


<div class="table">
<div class="medicine">
<table class="medicine-table">
    <tr><th>S.No</th><th>Drug Code</th><th>Name of the Product</th><th>Unit Size</th><th>MRP</th><th>Add To Cart</th></tr>
    <tbody id="medicine-table-body">
    <tr id="medicine-table-tr">
    {% for items in medicine %}
        <td id="medicine-table-td">{{ forloop.counter }}</td>
        <td id="medicine-table-td">{{items.drug_code}}</td>
        <td id="medicine-table-td">{{items.medicine_name}}</td>
        <td id="medicine-table-td">{{items.unit_size}} {{items.unit_value}}</td>
        <td id="medicine-table-td">Rs.{{items.mrp}}</td>
        <td>
            <button class="btn btn-outline-success" onclick="addtocart('{{items.medicine_name}}',{{items.mrp}})")">Add To Cart</button>
        </td>
    </tr>
    </tbody>
{% endfor %}
</table>
</div>
<div id="medicine_search_table">

</div>


</div>


{% endblock %}

</body>


{% block javascript %}
<script type="text/javascript">
   document.getElementById('search').addEventListener('keyup',Keyupfun)
    function Keyupfun(){
        var a=document.querySelectorAll('tr');
		for (var i = 0;i<a.length; i++) {
			var val=document.getElementById('search').value.toLowerCase();
            console.log(val)
			if (a[i].innerHTML.toLowerCase().indexOf(val)!=-1) {
                a[i].style.display='';
                
			}
			else{
				a[i].style.display='none';
			}
		}
	}

</script>
<script>
function addtocart(medicine_name,mrp){
    var tablerow=document.createElement('tr');
    tablerow.innerHTML=medicine_name;
    var item_price=document.createElement('td');
    item_price.innerHTML=mrp;
    tablerow.appendChild(item_price)
    var qty=document.createElement('td');
    var input=document.createElement("INPUT");
    input.style.width="48px";
    input.type="number";
    input.min=1;
    input.value=1;
    qty.appendChild(input);
    tablerow.appendChild(qty);
    input.onchange=()=>{
    total_input.value=input.value*mrp;
    }
    var total_td=document.createElement("td");
    var total_input=document.createElement("INPUT");
    total_input.style.width="48px";
    total_input.value=input.value*mrp;
    total_td.appendChild(total_input);
    tablerow.appendChild(total_td);
    var remove_td=document.createElement("td");
    var remove_btn=document.createElement("button");
    remove_btn.innerHTML="Remove";
    remove_td.appendChild(remove_btn);
    tablerow.appendChild(remove_td);
    
    var sum_td=document.createElement("td");
    sum_td.innerHTML="Sum Items";



document.getElementById("cart_tbody").appendChild(tablerow);
document.getElementById("cart_tbody").appendChild(sum_td);
var cart_count = document.getElementById("cart_count");
cart_count.innerHTML=cart_table.rows.length-1;
}




</script>



{% endblock %}
</script>
</html>
